@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
body{
    margin: 0;
   padding: 0;
   background: whitesmoke;
   box-sizing: border-box;
   text-align: center;
   color:#fff;
   line-height: 1.5;
   letter-spacing: 1px;

}
.skewedbox{
    background: #ff4584;
    padding: 100px 0;
    transform: skew(0deg,-10deg) translateY(-120px); 
    margin-bottom: 0;
}

.container{
    padding: 1px 100px;
    transform: skew(0deg,10deg); 
}
article h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0%;
    padding-top: 1px; 
    text-align: center;
    
}
article h1:after{
    content:"";
    height: 5px;
    width:225px;
    background-color: #fff;
    display: block;
    margin:auto;
}
article h5{
font-family: Georgia, 'Times New Roman', Times, serif;
}
article img{
    height: 255px;
    width: 210px;
    border: 5px solid #fff;
    border-radius: 60%;
    margin-top:30px;
}

blockquote{
    /* font-family: sans-serif; */
    font-size: 22px;
    margin-top: 30px;
}
button:hover{
    background-color: black;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}
button{
    color: #ff4584;
    font-size: 17px;
    padding: 10px 20px;
    margin:inherit;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #292425;;
    cursor:pointer;
    transition: .5s;
    margin-top: 15px;
}  
button a{
    text-decoration: none;
}
