.form-border {
    border: 2px solid rgb(177, 175, 175);
}

input[type=text],
input[type=date],
input[type=email],
input[type=cost] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.hotel-list {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-btn {
    background-color: #4699ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button-btn:hover {
    opacity: 0.8;
}


.custom-container {
    padding: 16px;
}

/* span.psw {
    float: right;
    padding-top: 16px;
} */